* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}
header{
    position: relative;
    width: 100%;
}

.first-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    position: relative;
    width: 100%;
    gap: 10px;
}
.second-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    width: 100%;
    font-weight: bold;
}
  
  
.nav-links {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    align-items: baseline;

}
.red{
    color: #F8172F;
}
a{
    color: black;
}
button{
    background-color: #F8172F;
    color: #ffff;
    border-radius: 18px;
    padding: 5px 25px;
    border-style: none;
}
.gul{
    width: 44px;
    height: 45px;
    margin-left: 40px;
}
.index{
    display: flex;
    height: 516px;
    margin: 75px 0 120px;
}
.index-img{
    width: 525px;
    height: 516px;
}
.index-text h2{
    padding: 0 0 40px;
    font-size: 50px;
    font-weight: bold;

}
.index-text p{
    padding: 0 0 60px;  
}
.index-text button{
    padding: 10px 40px;
}
.values-text h2{
    padding: 0 0 30px;
    font-size: 50px;
    font-weight: bold;
}
.values-text p{
    max-width: 480px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 1.47;
}
.values-text{
    text-align: center;
    padding: 0 0 80px;
}
.values-boxs{
    display: flex;
}
.values-box{
    width: 20%;
    margin: 0;
    padding: 0 20px;
    text-align: center;
}
.values-box p{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}
.values-icon{
    height: 90px;
}
.values{
    padding: 0 0 160px;
}
.services-text{
    text-align: center;
    padding: 0 0 70px;
}
.services-text h2{
    padding: 0 0 30px;
    font-size: 50px;
    font-weight: bold;
}
.services-text p{
    max-width: 480px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 1.47;
}
.line{
    display: block;
    width: 40px;
    height: 2px;
    background: #f8172f;
    align-items: center;
}
.services-box{
    text-align: center;
    height: 340px;
    width: 360px;
    border: 1px solid #e5e7e9;
    border-radius: 6px;
    margin: 30px;
}

.first-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.second-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}
.services-box p{
    padding: 0 25px;
    font-size: 15px;
    line-height: 1.47;
}
.services-box h3{
    margin: 35px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}
.services-box img{
    margin-top: 40px;
}
#indicators{
    background-image: url(/assets/image/indicators_backgrond-img.png);
}
.indicators{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.indicators-boxs{
    display: flex;
    flex-direction: row;
    width: 425px;
    height: 210px;
}
.indicators-box{
    text-align: center;
    padding: 40px 10px;
    background-color: #ffff;
    border-radius: 5px;
    margin: 20px 10px;
    width: 300px;
    height: 210px;
}
.indicators-box h1{
    color: red;
}
.indicators img{
    width: 100%;
}
.order button{
    font-size: 18px;
    height: 60px;
    font-weight: bold;
    border-radius: 30px;
    padding: 0 40px;
}
.order .right-side{
    width: 470px;
}
.order{
    padding: 100px 0 150px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.work{
    display: flex;
    justify-content: center;
    gap: 30px;
    justify-content: baseline;
}
.work .left-side{
    width: 480px;
}
.work h2{
    padding: 0 0 30px;
}
.work p{
    padding: 0 0 50px;
}
.work button{
    height: 60px;
    font-weight: bold;
    padding: 0 40px;
    border-radius: 30px;
}
h2{
    font-weight: bold;
}
#work{
    background-image: url(/assets/image/work-background-img.png);
}
.first-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    justify-content: baseline;
    align-items: center;
    padding-bottom: 45px;
}
.first-footer ul{
    display: flex;
    list-style-type: none;
    font-weight: bold;
    gap: 30px;
}

a{
    text-decoration: none;
}
.first-footer .icon{
    display: flex;
    flex-direction: column;
}
.first-footer .right-side{
    display: flex;
    gap: 30px;
}
.download{
    padding: 0 0 3px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.4);
}
.app{
    font-size: 18px;
    font-weight: bold;
}
.third-footer .left-side p{
    color: #00000080;
}
.third-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 15px 0 20px;
}
.center-side{
    display: flex;
    gap: 5px;
}
.third-footer a{
    color: #333;
    font-weight: bold;
}
.footer-line{
    background-color: lightgray;
    height: 1px;
    width: 100%;
}